@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

* {
  background: black;
  color: white;
  font-family: 'Fragment Mono', monospace;
}

.App {
  font-size: 23px;
  width: 100vw;
  background: black;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .App {
    font-size: 20px;
  }
}